.form {
  .input-wrapper {
    margin-top: .75rem;
    display: flex;
    align-items: center;
    gap: .5rem;

    width: 12rem;
    border: 1px solid var(--border-primary);
    border-radius: .5rem;
    padding: .75rem;


    & input {
      background-color: transparent;
      border: none;
      outline: none;
      color: var(--content-secondary);
      font-family: var(--ff-inter);
    }

    & ::-webkit-calendar-picker-indicator {
      cursor: pointer;
      background: url(../assets/arrow-down.svg) no-repeat;
    }
  }
}

@media (min-width: 376px) {
  .form {
    display: flex;
    align-items: center;
    gap: 3rem;
  }
}