.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding-inline: 20px;
  box-sizing: border-box;
}

.title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  font-family: var(--ff-inter);
  color: var(--content-primary);
}

.paragraph-medium {
  font-size: .875rem;
  line-height: 1.5rem;
  font-weight: 500;
  font-family: var(--ff-inter);
  color: var(--content-secondary);
}

.paragraph-small {
  font-size: .75rem;
  line-height: 1rem;
  font-weight: 500;
  font-family: var(--ff-inter);
  color: var(--content-secondary);
}

.label-large {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  font-family: var(--ff-inter);
  color: var(--content-primary);
}

.label-medium {
  font-size: .875rem;
  line-height: 1.5rem;
  font-weight: 700;
  font-family: var(--ff-inter);
  color: var(--content-primary);
}

.label-small {
  font-size: .75rem;
  line-height: 1rem;
  font-weight: 700;
  font-family: var(--ff-inter);
  color: var(--content-primary);
}

.link {
  font-size: .75rem;
  line-height: 1rem;
  font-weight: 500;
  font-family: var(--ff-inter);
  color: var(--content-tertiary);
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    color: var(--content-primary);
    text-decoration: underline;
  }
}



@media (min-width: 376px) {
  .container {
    padding-inline: 5rem;
    max-width: 871px;
  }
}